[Unit]
Description=The6 2026
After=network.target

[Service]
User=gyate
WorkingDirectory=/home/gyate/the6
Environment="PATH=/home/gyate/venv"
ExecStart=/home/gyate/venv/bin/python server.py
Restart=always

[Install]
WantedBy=multi-user.target
