<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE|1 – GIVE IT EVERYTHING – Vol.4 Supported by adidasTERREX-</title>
</head>
<body>
  <div class="container">
    <h2> 出場選手一覧</h2> 
    <h3> - Athletes - </h3>
    <br>
    <h3> DAY 1 <br> THE|1 - Aspirant -</h3>
    <button class="white_button" onclick="location.href='/competitors/asp_men'"> 男子 / Men </button>
    <button class="white_button" onclick="location.href='/competitors/asp_wmn'"> 女子 / Women </button>
    <br>
    <h3> DAY 2 <br> THE|1 - GIVE IT EVERYTHING -</h3>
    <button class="white_button" onclick="location.href='/competitors/fin_men'"> 男子 / Men </button>
    <button class="white_button" onclick="location.href='/competitors/fin_wmn'"> 女子 / Women </button>
    <p size="2">The 1 JudgeSheet Assistant @ T4 and kaiz</p>
  </div>
</body>
</html>
