<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/choice.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE|6</title>
</head>
<body>
    <div class="container">
        <br>
        <h3>選手選択 (AREA : "{{ area }}") ({{ grade }}年生)</h3>
        <div class="table-wrapper">
            {% for players in player_list %}
            <!-- ★ table-col で p と table を一緒に囲む ★ -->
            <div class="table-col">
                <p class="grade-label">{{ grade_list[loop.index0] }}</p>
                <table class="player-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>
                            <button class="white_button" onclick="location.href='/finalsubmit/{{ area }}/{{ player.class }}/{{ player.pid }}'">{{ player.pid}}: {{ player.name }}</button>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">プレイヤーがいません</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>