<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE|6</title>
</head>
<body>
  <div class="container">

    <img class="header" src="/static/images/banner_1280p.png">
    <p> </p>
    <h3>ABOUT "THE | 6"</h3>
    <p> </p>
    <h2>リアルタイムリザルト<br>- Live Results -</h2>

    <!-- DAY 1 -->
    <h3>DAY 1</h3>
    <div class="btn-group">
      <button class="white_button btn-y1" onclick="location.href='/realtimeresult/F1'">FUN 1年</button>
      <button class="white_button btn-y1" onclick="location.href='/realtimeresult/O1'">OPEN 1年</button>
      <button class="white_button btn-y2" onclick="location.href='/realtimeresult/F2'">FUN 2年</button>
      <button class="white_button btn-y2" onclick="location.href='/realtimeresult/O2'">OPEN 2年</button>
      <button class="white_button btn-y3" onclick="location.href='/realtimeresult/F3'">FUN 3年</button>
      <button class="white_button btn-y3" onclick="location.href='/realtimeresult/O3'">OPEN 3年</button>
    </div>
    <p> </p>
    <button class="white_button" onclick="location.href='https://docs.google.com/spreadsheets/d/1Q725dNZUxYhBUihynieGx18RVkdhuI2zALgIsxWLovs/edit?usp=sharing'">決勝</button>

    <p>The 1 JudgeSheet Assistant @ T4 and kaiz</p>

    <!-- DAY 2 -->
    <h3>DAY 2</h3>
    <div class="btn-group">
      <button class="white_button btn-y4" onclick="location.href='/realtimeresult/F4'">FUN 4年</button>
      <button class="white_button btn-y4" onclick="location.href='/realtimeresult/O4M'">OPEN 4年 男子</button>
      <button class="white_button btn-y4" onclick="location.href='/realtimeresult/O4W'">OPEN 4年 女子</button>
      <button class="white_button btn-y5" onclick="location.href='/realtimeresult/F5M'">FUN 5年 男子</button>
      <button class="white_button btn-y5" onclick="location.href='/realtimeresult/F5W'">FUN 5年 女子</button>
      <button class="white_button btn-y5" onclick="location.href='/realtimeresult/O5M'">OPEN 5年 男子</button>
      <button class="white_button btn-y5" onclick="location.href='/realtimeresult/O5W'">OPEN 5年 女子</button>
      <button class="white_button btn-y6" onclick="location.href='/realtimeresult/O6M'">OPEN 6年 男子</button>
      <button class="white_button btn-y6" onclick="location.href='/realtimeresult/O6W'">OPEN 6年 女子</button>
    </div>
  <p> </p>
    <button class="white_button" onclick="location.href='https://docs.google.com/spreadsheets/d/1Q725dNZUxYhBUihynieGx18RVkdhuI2zALgIsxWLovs/edit?usp=sharing'">決勝</button>
  </div>
</body>
</html>