<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE|6</title>
</head>
<body>
    <div class="container">
    <img class="header" src="/static/images/banner_1280p.png">
    <br>
    <h3>Player Check</h3>
    <table>
        <tr>
        <th>Player ID</th>
        <th>Name</th>
        <th>Class</th>
        </tr>
        {% for player in players %}
        <tr>
        <td>{{ player.pid }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.class }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
