<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>THE 1 RULES</title>
</head>
<body>
<div class="container">
<img class="header" src="/static/images/banner_1280p.png">
<h1>大会ルール / Rules</h1>
<h2>DAY1 - Aspirant -</h2>
<h4><b>予選 / Qualification Round</b></h4>
<p>オンサイトベルトコンベア方式 4分×4課題 <br> *成績上位8名が決勝進出</p>
<p>4 problems in 4 min. each. <br> Top 8 athletes go to the final round.</p>
<h4><b>決勝 / Final Round</b></h4>
<p>オンサイトベルトコンベア方式 4分×3課題</p>
<p>3 problems in 4 min. each.</p>
<br>
<h2>DAY2 - GIVE IT EVERYTHING -</h2>
<h4><b>予選 / Qualification Round</b></h4>
<p>オンサイトベルトコンベア方式 4分×4課題 <br> *成績上位6名が決勝進出</p>
<p>4 problems in 4 min. each. <br> Top 6 athletes go to the final round.</p>
<h4><b>決勝 / Final Round</b></h4>
<p>ワールドカップ決勝方式 4分×4課題</p>
<p>4 problems in 4 min. each.</p>
<br>
<br>
<br>
<font size="2">The 3 JudgeSheet Assistant @ T4 and kaiz</font>
</div>
</body>
</html>